* {
  margin: 0;
  overflow: hidden;
}


.app__body {
  display: flex;
  height: 100vh;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  padding: 12px;
}

.header__left {
  display: flex;
}

.header__left img {
  object-fit: contain;
  height: 40px;
  margin-left: 5px;
}

.header__middle {
  display: flex;
  flex: 0.7;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 8px;
}

.header__middle > .MuiSvgIcon-root {
  color: grey;
} 

.header__middle > input {
  border: none;
  width: 100%;
  padding: 8px;
  outline-width: 0;
  font-size: medium;
  background-color: transparent;
}

.header__right {
  display: flex;
}

.header__right--buttons {
  margin-right: 12px;
}

.header__avatar {
  cursor: pointer !important;
}

/* SIDEBAR */

.sidebar__new-message {
  margin: 16px 0 16px 16px !important;
  text-transform: capitalize !important;
  color: grey !important;
  padding: 16px !important;
  border-radius: 20px !important;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.sidebar__option {
  display: flex;
  align-items: center;
  color: grey;
  height: 40px;
  padding: 0 8px;
  cursor: pointer;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.sidebar__option:hover,
.sidebar__option:hover p,
.sidebar__option:hover h3,
.sidebar__option--active,
.sidebar__option--active p,
.sidebar__option--active h3 {
  background-color: #C2E7FF;
  color: #001D35;
  font-weight: 800 !important;
}

.sidebar__option h3 {
    flex: 1;
    margin-left: 8px;
    font-size: 16px;
    font-weight: 400;
}

.sidebar__option p {
  display: none;
}
.sidebar__option--active p {
  display: inline !important;
}

.sidebar__option:hover p {
  display: inline;
}

/* EMAIL LIST */

.email__list {
  flex: 1;
  overflow: scroll;
  margin: 12px 12px 0 12px;
  border: 1px solid whitesmoke;
}

.email-list__setting {
  position: sticky;
  top:0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  padding: 8px;
  border-top-left-radius: 10px;
  z-index: 10;

}

/* EMAIL ROW */

.email-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
  cursor: pointer;
  z-index: 100;
  height: 50px;
  border-bottom: 1px solid whitesmoke;
}

.email-row:hover {
border-top: 1px solid whitesmoke;
box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.email-row__message {
  display: flex;
  flex: 0.8;
  align-items: center;
  font-size: 13px;
}

.email-row__message--para {
  width: 400px;
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
  padding-left: 4px;
  padding-right: 4px;
}

.email-row__title {
  font-size: 18px;
}

.email-row__time {
  font-size: 10px;
  font-weight: bold;
}

.email-row__description {
  font-weight: 400;
  color: gray;
}

/* EMAIL */

.email {
  flex: 1;
  margin: 12px 12px 0 12px;
  border: 1px solid whitesmoke
}

.email__tools {
  position: sticky;
  top:0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  padding: 8px;
  border-top-left-radius: 10px;
}

.email__body {
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 100vh;
}

.email__header {
  display: flex;
  justify-content:left;
  align-items: center;
  position: relative;

}

.email__header h2 {
  font-weight: 400;
  margin-right: 20px;
}

.email__header p {
  margin: 0 12px 0 12px;
}

.email__message {
  padding-top: 20px;
  word-break: break-all;
}

.email__header-time {
  position: absolute;
  top: 8px;
  right: 0px;
  color: grey;
}

/* SEND-EMAIL */

.send-mail {
  position: absolute;
  bottom: 0;
  right: 50px;
  background-color: #404040;
  width: 40%;
  height: 40%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border: 1px solid whitesmoke;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
}

.send-mail__header {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
}

.send-mail__close {
  cursor: pointer;
}

.send-email__btn {
  background-color: #C2E7FF !important;
  text-transform: capitalize !important;
  margin: 15px !important;
}

.send-mail form {
  display: flex;
  flex: 1;
  flex-direction: column;
} 

.send-mail form input {
  height: 30px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid whitesmoke;
  outline: none;
}

.send-mail__message {
  flex: 1;
}

.send-email__error {
  background-color: white;
  color: red;
  text-align: right;
  padding: 4px;
}


/* LOGIN-PAGE */

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login__container {
  display: flex;
  flex-direction: column;

}

.login__container img {
  object-fit: contain;
  height: 200px;
  margin-bottom: 20px;
}

